<!-- Main hero unit for a primary marketing message or call to action -->

<!--
<div class="hero-unit">
  <h1>Nai's List</h1>
  <p>Choose your favourite sports leagues and teams. See a list of upcoming games ... enough said.</p>
  <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
-->

<!-- Example row of columns -->
<div class="row">
  <div class="span2" style='background-color: #eee'>
    <div style='padding:5px'>
      <%=render "layouts/left_menu"%>
    </div>
  </div>
  <div class="span7">
    <%=render "layouts/main"%>
  </div>
  <div class="span3" style='background-color: #eee;'>
    <div style='padding:5px'>
      <%=render "layouts/right_menu"%>
    </div>
  </div>
</div>

<hr>

<footer>
<p>&copy; DMFour 2013</p>
</footer>

    </div> <!-- /container -->

