<p style=''><%=@user.username%>'s tz is <%=@user.tz.downcase%></p>
<ul id="list1" data-role="listview" class="ui-listview" style="display: block;">
  <%=render :partial=>"event", :collection=>@events%>
</ul>
