<form action="/users/auth/twitter">

  <input id="email" name="email" placeholder="email" size="20" type="text" value="" />
  <input class="btn btn-info" name="commit" type="submit" value="Sign in" />

</form>