
<h1>My Teams & Leagues</h1>

<br>
<p><%= link_to image_tag("add.png"), new_user_preference_path %></p>
  
<table class="table table-striped">
<% @user_preferences.each do |user_preference| %>
  
  <tr>

    <td><%= user_preference.name.present? ? user_preference.name : '' %> </td>

     <td><%= user_preference.sport %> </td>
    
    <td><%= link_to image_tag("delete.png"), user_preference, confirm: 'Are you sure?', method: :delete %></td>
    
  </tr>
  
<% end %>
</table>

