<!--

<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%# @user_preference.user_id %>
</p>

<p>
  <b>Preference type:</b>
  <%# @user_preference.preference_type %>
</p>

<p>
  <b>Preference:</b>
  <%= @user_preference.preference_id %>
</p>


<%# link_to 'Edit', edit_user_preference_path(@user_preference) %> |
<%# link_to 'Back', user_preferences_path %>


-->