
  
  <% if current_user && current_user.teams.length > 0%>
    <h3 id='my_teams_label' >My Teams</h3>
  <% else %>
    <div style='display:none' id='my_teams_label'>
      <h3 >My Teams</h3>
      <div style='color:red;padding:5px;background-color:#fdd'>To save your team choices, 
        <a class="link" data-toggle="modal" tabindex="-1" href="#signupmodal" style='text-decoration:underline'>sign up!</a>
      </div>
    </div>
  <% end %>



  <ul id='my_teams'>
    <%if current_user 
         #cache "menu.teams.user.#{current_user.id}" do
           if current_user.teams.length > 0%>
             <% current_user.teams.sort!{|a,b| a.name <=> b.name}.each_with_index do |team,idx| %>
             <li><%=team.name%><input id='my_teams_T<%=team.preference_id%>' style='float:right' type="checkbox" align="right" onclick="mySportsUI.clickMyTeam(this)" team_id='<%=team.preference_id%>' checked='checked'></li>
           <% end %>
         <%# end %>
    <%end%>
<% end %>
  </ul>
<h3>Sports</h3>
<ul id='main_sports_list'>
<!--  <li>
  <h5>Football/Soccer</h5>
  <ul>
    <li>EPL <input type=checkbox align=right></li>
    <li>La Liga <input type=checkbox></li>
    <li>A League <input type=checkbox></li>
    <li>Serie A <input type=checkbox></li>
    <li>MLS <input type=checkbox></li>
  </ul>
  </li>
  <li>
  <h5>Cricket</h5>
  <ul>
    <li>Test Matches <input type=checkbox></li>
    <li>20/20 <input type=checkbox></li>
    <li>ODI <input type=checkbox></li>
    <li>Australia <input type=checkbox></li>
    <li>England <input type=checkbox></li>
    <li>India <input type=checkbox></li>
  </ul>
  </li>
  <li>
  <h5>Golf</h5>
  <ul>
    <li>Mens <input type=checkbox></li>
    <li>Womens <input type=checkbox></li>
  </ul>
  </li>
  <li>
  <h5>Tennis</h5>
  <ul>
    <li>Men <input type=checkbox></li>
    <li>Women <input type=checkbox></li>
  </ul>
  </li>
  <li>
  <h5>Basketball</h5>
  <ul>
    <li>NBA <input type=checkbox></li>
    <li>NBL <input type=checkbox></li>
  </ul>
  </li>
-->
</ul>

 <ul>
  <%=link_to "config", "/config" if current_user%></li>
 </ul>


