<% if current_user && current_user.teams.length > 0%>
  <h3>My Teams</h3>
  <ul id='my_teams'>
    <% current_user.teams.each_with_index do |team,idx| %>
      <li><%=team.name%><input id='my_teams_T<%=team.preference_id%>' type="checkbox" align="right" onclick="mySportsUI.clickMyTeam(this)" team_id='<%=team.preference_id%>' checked='checked'></li>
    <% end %>
  </ul>
<% end %>
<h3>Sports</h3>
<ul id='main_sports_list'>
<!--  <li>
  <h5>Football/Soccer</h5>
  <ul>
    <li>EPL <input type=checkbox align=right></li>
    <li>La Liga <input type=checkbox></li>
    <li>A League <input type=checkbox></li>
    <li>Serie A <input type=checkbox></li>
    <li>MLS <input type=checkbox></li>
  </ul>
  </li>
  <li>
  <h5>Cricket</h5>
  <ul>
    <li>Test Matches <input type=checkbox></li>
    <li>20/20 <input type=checkbox></li>
    <li>ODI <input type=checkbox></li>
    <li>Australia <input type=checkbox></li>
    <li>England <input type=checkbox></li>
    <li>India <input type=checkbox></li>
  </ul>
  </li>
  <li>
  <h5>Golf</h5>
  <ul>
    <li>Mens <input type=checkbox></li>
    <li>Womens <input type=checkbox></li>
  </ul>
  </li>
  <li>
  <h5>Tennis</h5>
  <ul>
    <li>Men <input type=checkbox></li>
    <li>Women <input type=checkbox></li>
  </ul>
  </li>
  <li>
  <h5>Basketball</h5>
  <ul>
    <li>NBA <input type=checkbox></li>
    <li>NBL <input type=checkbox></li>
  </ul>
  </li>
-->
</ul>
</p>

