<!--<link href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.css" media="all" rel="stylesheet" type="text/css" />-->
<div id='search_wrapper' style='background-color:#26d2e8;width:400px;display:table;padding:5px;text-align:center;padding-bottom:0px;'>
  <div style='margin 0 auto;width:660px;text-align:center;margin-top:9px'>
    <input id="searchterm" type="text" style='width:345px;' placeholder='Search for upcoming games for your sport teams!'/> 
  </div>
  <div style='float:right;display:none;font-size:9px;color:#333;margin-top:25px' id='show_results'><a href='#' onclick="$('#results_wrapper').fadeToggle()">toggle results&raquo;</a></div>
  <%=time_zone_select( "user", "time_zone_name", nil, {:include_blank => true},{:onchange=>'mySportsUI.change_time_zone_select(this)',:style=>'float:right', :id=>'tz_selector'})%>
  <%#=time_zone_select( "user", "time_zone_name", TZInfo::Timezone.all.sort,:model=>TZInfo::Timezone})%>
  <%#=time_zone_select( "user", "time_zone_name", nil,:model=>TZInfo::Timezone)%>
  <p style='display:none;font-size:10px;color:#888' id='location_guess'>Locating you..</p>


  </div>
  <script type="text/javascript">// <![CDATA[
      $("#searchterm").keyup(function(e){
        var q = $("#searchterm").val();
        $.getJSON("/search_teams/results.json",
        {
          search: q,
        },
        function(data) {
          $("#results").empty();
          $("#results").append(" Results for <b>" + q + "</b><div style='float:right;cursor: hand; cursor: pointer;' onclick=\"$('#results_wrapper').hide()\">[x]</div>");
          $.each(data, function(i,item){
            $("#results").append("<div><label for='CB_T"+item.id+"'> ["+ item.sport_name + "] "+item.name+"<div style='float:right'><input type='checkbox' id='CB_T"+item.id+"' onclick='mySportsUI.addMyTeam(\""+item.name+"\","+item.id+")'> </div> ");
          });
          $('#results_wrapper').show();
          $('#results').css('padding', '10px');
        });
 
        /*
        $.getJSON("http://en.wikipedia.org/w/api.php?callback=?",
        {
          srsearch: q,
          action: "query",
          list: "search",
          format: "json"
        },
        function(data) {
          $("#results").empty();
          $("#results").append(" Results for <b>" + q + "</b>");
          $.each(data.query.search, function(i,item){
            $("#results").append("<div><a href='http://en.wikipedia.org/wiki/" + encodeURIComponent(item.title) + "'>" + item.title + "</a>" + item.snippet + "</div> ");
          });
        });
        */
      });
 
// ]]></script> 
<div id='results_wrapper' style='display:none;background-color:#D0F3CD'>
<div id='results' style='position:relative;z-index:9999'></div>
</div>

<div id='events'></div>
<!--<p><a class="btn" href="#">View details &raquo;</a></p>
<p><h3>Sport not listed?</h3><input type='text'> <a class="btn" href="#">Suggest Sport &raquo;</a></p>
-->
<div data-role="content" class="ui-content" role="main">
  <div class="content-primary">
    <ol id='list1' data-role="listview" class="ui-listview">
    </ol>
<!--
    <h2>List 2</h2>
    <ul id='list2' data-role="listview" class="ui-listview">
      <li class="ui-li ui-li-static ui-btn-up-c"><p class="ui-li-aside ui-li-desc"><strong>6:24</strong>PM</p>
        <h3 class="ui-li-heading">Stephen Weber</h3>
        <p class="ui-li-desc"><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
        <p class="ui-li-desc">Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
      </li>
      <li class="ui-li ui-li-static ui-btn-up-c ui-li-last"><p class="ui-li-aside ui-li-desc"><strong>9:18</strong>AM</p>
      <h3 class="ui-li-heading">jQuery Team</h3>
      <p class="ui-li-desc"><strong>Boston Conference Planning</strong></p>
      <p class="ui-li-desc">In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.</p>

      </li>
    </ul>

    <h2>List 3</h2>
    <ul id='list3' data-role="listview" class="ui-listview">
      <li class="ui-li ui-li-static ui-btn-up-c ui-li-has-count ui-li-has-icon"><img src="http://jquerymobile.com/demos/1.2.0/docs/lists/images/us.png" alt="France" class="ui-li-icon ui-li-thumb">France <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">4</span></li>
      <li class="ui-li ui-li-static ui-btn-up-c ui-li-has-count ui-li-has-icon"><img src="http://jquerymobile.com/demos/1.2.0/docs/lists/images/us.png" alt="Germany" class="ui-li-icon ui-li-thumb">Germany <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">4</span></li>
      <li class="ui-li ui-li-static ui-btn-up-c ui-li-has-count ui-li-has-icon"><img src="http://jquerymobile.com/demos/1.2.0/docs/lists/images/us.png" alt="Great Britain" class="ui-li-icon ui-li-thumb">Great Britain <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">0</span></li>
      <li class="ui-li ui-li-static ui-btn-up-c ui-li-has-count ui-li-has-icon"><img src="http://jquerymobile.com/demos/1.2.0/docs/lists/images/us.png" alt="Finland" class="ui-li-icon ui-li-thumb">Finland <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">12</span></li>
      <li class="ui-li ui-li-static ui-btn-up-c ui-li-has-count ui-li-has-icon"><img src="http://jquerymobile.com/demos/1.2.0/docs/lists/images/us.png" alt="Norway" class="ui-li-icon ui-li-thumb">Norway <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">328</span></li>
      <li class="ui-li ui-li-static ui-btn-up-c ui-li-has-count ui-li-has-icon ui-li-last"><img src="http://jquerymobile.com/demos/1.2.0/docs/lists/images/us.png" alt="United States" class="ui-li-icon ui-li-thumb">United States <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">62</span></li>
    </ul>
-->

  </div>
</div>
