
<h3>Where?</h3>
<p id='location_guess'>Locating you..</p>
<p>Timezone <select id='location_dd' style='width:100px'><option>Adelaide</option><option>Sydney</option><option>San Francisco (Pacific/GMT+8)</option></select></p>
<p>We're showing sports we think you might like.</p>

<p> Sign up/Login to set up your own selection</p>

