<h3>Where?</h3>
<p>Timezone 
<%=time_zone_select( "user", "time_zone", nil, :include_blank => true)%>
<p style='font-size:10px;color:#888' id='location_guess'>Locating you..</p>
<p>We're showing sports we think you might like.</p>

<p> Sign up/Login to set up your own selection</p>

<h3>Sports Chat</h3>

<div id='messagesDiv' style='overflow-y:scroll;background-color:#fff;height:500px'></div>
<input type='text' id='nameInput' placeholder='Name'>
<input type='text' id='messageInput' placeholder='Message...'>
<script>

  // Get a reference to the root of the chat data.
  var messagesRef = new Firebase('https://sportspoo.firebaseio.com/');

  // When the user presses enter on the message input, write the message to firebase.
  $('#messageInput').keypress(function (e) {
    if (e.keyCode == 13) {
      var name = $('#nameInput').val();
      var text = $('#messageInput').val();
      messagesRef.push({name:name, text:text});
      $('#messageInput').val('');
    }
  });

  // Add a callback that is triggered for each chat message.
  messagesRef.limit(10).on('child_added', function (snapshot) {
    var message = snapshot.val();
    $('<div/>').text(message.text).prepend($('<em/>')
      .text(message.name+': ')).appendTo($('#messagesDiv'));
    $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
  });
</script> 
