
<h3>Where?</h3>
<p>Timezone 
<%=time_zone_select( "user", "time_zone", nil, :include_blank => true)%>
<p style='font-size:10px;color:#888' id='location_guess'>Locating you..</p>
<p>We're showing sports we think you might like.</p>

<p> Sign up/Login to set up your own selection</p>

